.overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-delay: 0s, .4s;
    transition-duration: .4s, 0s;
}

@media (max-width: 600px) {
    .overlay {
        padding-right: 19px;
        padding-left: 19px;
    }
}