.popup__button-close {
    position: absolute;
    right: -50px;
    top: -50px;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    border: none;
    background: url('../../../images/btn-close-popup.svg');
    background-size: 100%;
}

.popup__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__button-close:active {
    outline: none;
}

.popup__button-close:focus {
    outline: none;
}

@media (max-width: 600px) {
    .popup__button-close {
        height: 40px;
        width: 40px;
        right: -1px;
        top: -52px;
    }
}